/* You can add global styles to this file, and also import other style files */

$noCssVar: false;
@import '~@lucca-front/scss/src/main.overridable';

// Google Fonts
// ====
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic");

.reference-line {
	fill: none;
	stroke-width: 1;
	stroke-dasharray: 2;
	stroke: #ccc
}
.country-line {
	fill: none;
	stroke-width: 1;
	stroke: #999;
}
.country-dot {
	fill: none;
	stroke-width: 2;
	stroke: #999;
}
.France {
	color: #66CCAA;
	stroke: #66CCAA;
}
.Italy {
	color: #7072D2;
	stroke: #7072D2;
}
.US {
	color: #0f98d0;
	stroke: #0f98d0;
}
.Portugal {
	color: #5FC871;
	stroke: #5FC871;
}

:root {
	@include generateCSSVarsFromTheme($theme);
}
